# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/t2t/public_html/routes"
PassengerBaseURI "/"
PassengerPython "/home/t2t/virtualenv/public__html_routes/2.7/bin/python2.7"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
