{% macro table_field(field, red_errors=True) %}
	<td valign="top" {{ ('style="color:red"' if field.errors else '') | safe }}>
		{{ field.label }}
	</td>
	<td valign="top">
		{{ field() | safe }}
	</td>
{% endmacro %}
{% macro error_list(errors) %}
	{% if field.errors and show_errors %}
		<ul>
		{% for e in field.errors %}
			<li style="color:red">{{ e }}</li>
		{% endfor %}
	</ul>
{% endif %}
{% endmacro %}

{% macro full_form(fields, has_errors=True, show_errors=True, top_errors=True, submit_name='Submit', in_table=False, other_errors=[], field_args={}) %}
	<form {% for a in kwargs %}
		{{ a | safe }}="{{ kwargs[a] | safe }}" 
	{% endfor %}>
		{%if not in_table %}<table>{% endif %}
			{% if show_errors and top_errors and has_errors %}<tr>
				<td></td>
				<td style="color:red"><dl>
					{% for f in fields %}
						{% if f.errors %}
							<dt>{{f.label}}
							{% for e in f.errors %}
								<dd>{{ e }}</dd>
							{% endfor %}
						{% endif %}
					{% endfor %}
					{% for e in other_errors %}
						<dt>{{ e }}</dt>
					{% endfor %}
				</dl></td>
			</tr>{% endif %}
			
			{% for f in fields %}
				<tr>
					<td {{ 'style="color:red"' | safe if f.errors and show_errors else ''}}>{{ f.label }}</td>
					<td>{{ f(**field_args.get(f, {})) | safe }}</td>
				</tr>
			{% endfor %}
			<tr><td><input type="submit" value="{{ submit_name }}"</td><td></td></tr>
		{%if not in_table %}</table>{% endif %}
	</form>
{% endmacro %}